<!DOCTYPE html>
<html>
<head>
    <title>Test Manager</title>
</head>
<body>
    <h1>Test Manager</h1>

    <h3>Alice: Current Mark {{ total_score_alice }}/30</h3>
    <ol>
        <li>
            Question 1: {{ question_1_alice }}<br>
            <span>question score:   {{ question_1_score_alice }}/3</span><br>
            <span>question attempt: {{ question_1_attempt_alice }}</span><br>
        </li>
        <li>
            Question 2: {{ question_2_alice }}<br>
            <span>question score:   {{ question_2_score_alice }}/3</span><br>
            <span>question attempt: {{ question_2_attempt_alice }}</span><br>
        </li>
        <li>
            Question 3: {{ question_3_alice }}<br>
            <span>question score:   {{ question_3_score_alice }}/3</span><br>
            <span>question attempt: {{ question_3_attempt_alice }}</span><br>
        </li>
        <li>
            Question 4: {{ question_4_alice }}<br>
            <span>question score:   {{ question_4_score_alice }}/3</span><br>
            <span>question attempt: {{ question_4_attempt_alice }}</span><br>
        </li>
        <li>
            Question 5: {{ question_5_alice }}<br>
            <span>question score:   {{ question_5_score_alice }}/3</span><br>
            <span>question attempt: {{ question_5_attempt_alice }}</span><br>
        </li>
        <li>
            Question 6: {{ question_6_alice }}<br>
            <span>question score:   {{ question_6_score_alice }}/3</span><br>
            <span>question attempt: {{ question_6_attempt_alice }}</span><br>
        </li>
        <li>
            Question 7: {{ question_7_alice }}<br>
            <span>question score:   {{ question_7_score_alice }}/3</span><br>
            <span>question attempt: {{ question_7_attempt_alice }}</span><br>
        </li>
        <li>
            Question 8: {{ question_8_alice }}<br>
            <span>question score:   {{ question_8_score_alice }}/3</span><br>
            <span>question attempt: {{ question_8_attempt_alice }}</span><br>
        </li>
        <li>
            Question 9: {{ question_9_alice }}<br>
            <span>question score:   {{ question_9_score_alice }}/3</span><br>
            <span>question attempt: {{ question_9_attempt_alice }}</span><br>
        </li>
        <li>
            Question 10: {{ question_10_alice }}<br>
            <span>question score:   {{ question_10_score_alice }}/3</span><br>
            <span>question attempt: {{ question_10_attempt_alice }}</span><br>
        </li>
    </ol>

    <h3>Bob: Current Mark {{ total_score_bob }}/30</h3>
    <ol>
        <li>
            Question 1: {{ question_1_bob }}<br>
            <span>question score:   {{ question_1_score_bob }}/3</span><br>
            <span>question attempt: {{ question_1_attempt_bob }}</span><br>
        </li>
        <li>
            Question 2: {{ question_2_bob }}<br>
            <span>question score:   {{ question_2_score_bob }}/3</span><br>
            <span>question attempt: {{ question_2_attempt_bob }}</span><br>
        </li>
        <li>
            Question 3: {{ question_3_bob }}<br>
            <span>question score:   {{ question_3_score_bob }}/3</span><br>
            <span>question attempt: {{ question_3_attempt_bob }}</span><br>
        </li>
        <li>
            Question 4: {{ question_4_bob }}<br>
            <span>question score:   {{ question_4_score_bob }}/3</span><br>
            <span>question attempt: {{ question_4_attempt_bob }}</span><br>
        </li>
        <li>
            Question 5: {{ question_5_bob }}<br>
            <span>question score:   {{ question_5_score_bob }}/3</span><br>
            <span>question attempt: {{ question_5_attempt_bob }}</span><br>
        </li>
        <li>
            Question 6: {{ question_6_bob }}<br>
            <span>question score:   {{ question_6_score_bob }}/3</span><br>
            <span>question attempt: {{ question_6_attempt_bob }}</span><br>
        </li>
        <li>
            Question 7: {{ question_7_bob }}<br>
            <span>question score:   {{ question_7_score_bob }}/3</span><br>
            <span>question attempt: {{ question_7_attempt_bob }}</span><br>
        </li>
        <li>
            Question 8: {{ question_8_bob }}<br>
            <span>question score:   {{ question_8_score_bob }}/3</span><br>
            <span>question attempt: {{ question_8_attempt_bob }}</span><br>
        </li>
        <li>
            Question 9: {{ question_9_bob }}<br>
            <span>question score:   {{ question_9_score_bob }}/3</span><br>
            <span>question attempt: {{ question_9_attempt_bob }}</span><br>
        </li>
        <li>
            Question 10: {{ question_10_bob }}<br>
            <span>question score:   {{ question_10_score_bob }}/3</span><br>
            <span>question attempt: {{ question_10_attempt_bob }}</span><br>
        </li>
    </ol>

    <h3>Chris: Current Mark {{ total_score_chris }}/30</h3>
    <ol>
        <li>
            Question 1: {{ question_1_chris }}<br>
            <span>question score:   {{ question_1_score_chris }}/3</span><br>
            <span>question attempt: {{ question_1_attempt_chris }}</span><br>
        </li>
        <li>
            Question 2: {{ question_2_chris }}<br>
            <span>question score:   {{ question_2_score_chris }}/3</span><br>
            <span>question attempt: {{ question_2_attempt_chris }}</span><br>
        </li>
        <li>
            Question 3: {{ question_3_chris }}<br>
            <span>question score:   {{ question_3_score_chris }}/3</span><br>
            <span>question attempt: {{ question_3_attempt_chris }}</span><br>
        </li>
        <li>
            Question 4: {{ question_4_chris }}<br>
            <span>question score:   {{ question_4_score_chris }}/3</span><br>
            <span>question attempt: {{ question_4_attempt_chris }}</span><br>
        </li>
        <li>
            Question 5: {{ question_5_chris }}<br>
            <span>question score:   {{ question_5_score_chris }}/3</span><br>
            <span>question attempt: {{ question_5_attempt_chris }}</span><br>
        </li>
        <li>
            Question 6: {{ question_6_chris }}<br>
            <span>question score:   {{ question_6_score_chris }}/3</span><br>
            <span>question attempt: {{ question_6_attempt_chris }}</span><br>
        </li>
        <li>
            Question 7: {{ question_7_chris }}<br>
            <span>question score:   {{ question_7_score_chris }}/3</span><br>
            <span>question attempt: {{ question_7_attempt_chris }}</span><br>
        </li>
        <li>
            Question 8: {{ question_8_chris }}<br>
            <span>question score:   {{ question_8_score_chris }}/3</span><br>
            <span>question attempt: {{ question_8_attempt_chris }}</span><br>
        </li>
        <li>
            Question 9: {{ question_9_chris }}<br>
            <span>question score:   {{ question_9_score_chris }}/3</span><br>
            <span>question attempt: {{ question_9_attempt_chris }}</span><br>
        </li>
        <li>
            Question 10: {{ question_10_chris }}<br>
            <span>question score:   {{ question_10_score_chris }}/3</span><br>
            <span>question attempt: {{ question_10_attempt_chris }}</span><br>
        </li>
    </ol>
</body>
</html>
